/**

	HTML Landing Pages Pack

  - Version: 1.0

  - 2021

  - Author: fronthemes

  - https://fronthemes.com

 */
/*-----------------------------*/
/*
CONTENT

01 - BASE
02 - FORMS
03 - TYPOGRAPHY
04 - HEADERS
05 - BUTTONS
06 - ACCORDION
07 - FOOTERS
*/
/*-----------------------------*/
/*=================================
=            01 - BASE            =
=================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  background-color: #f4f5f9;
}

.modal-backdrop {
  opacity: 0.8 !important;
}

.circle-icon-container .circle-icon {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  border: 2px solid #0d6efd;
}
.circle-icon-container .circle-icon i {
  color: #0d6efd;
  font-size: 2rem;
}

/* Utilities */
/* Background Color */
.bg-theme-color {
  background-color: #0d6efd !important;
}

.bg-theme-color-2 {
  background-color: #fd7e14 !important;
}

.bg-light {
  background-color: #f8f9fa;
}

/* Border Color */
.border-theme-color {
  border-color: #0d6efd !important;
}

/* Text Color */
.text-theme-color {
  color: #0d6efd !important;
}

/* Rounded */
.rounded-4 {
  border-radius: 20px;
}

.rounded-4-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Padding */
.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-50 {
  padding-top: 50px;
}

/* Overlay Background Color Effect */
.overlay-color-dark {
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.45);
  background: var(--image-url) center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-color-light {
  box-shadow: inset 0 0 0 100vw rgba(242, 243, 250, 0.9);
  background: var(--image-url) center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-theme-color {
  box-shadow: inset 0 0 0 100vw rgba(13, 110, 253, 0.9);
  background: var(--image-url) center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Recommended by */
.logo-brand img {
  transition: all 0.4s ease-in-out;
  filter: grayscale(100%) !important;
  opacity: 0.5;
}
.logo-brand img:hover {
  filter: grayscale(0) !important;
  opacity: 1;
}

/* Details */
@media (max-width: 767.98px) {
  .details img {
    width: 200px;
  }
}
@media (max-width: 767.98px) {
  .details .details-text {
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

/* Testimonials */
.testimonial {
  background: #edeff1;
  color: #212529;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  margin-bottom: 30px;
}
.testimonial.speech-bubble:before {
  content: "";
  position: absolute;
  border-left: 10px solid #edeff1;
  border-right: 10px solid transparent;
  border-top: 10px solid #edeff1;
  border-bottom: 10px solid transparent;
  left: 35px;
  bottom: -19px;
}

@media (max-width: 991.98px) {
  .testimonial-2 {
    text-align: center;
  }
}

/*==================================
=            02 - FORMS            =
==================================*/
input, textarea, button {
  transition: all 0.3s ease-out 0s;
}
input:focus, textarea:focus, button:focus {
  outline: none;
}

/* Form control */
.form-control {
  background-clip: inherit !important;
}
.form-control:focus, .form-control.focus {
  outline: 0;
  box-shadow: none !important;
}

/* Checkboxes and Radios */
.form-check-input:focus {
  box-shadow: none !important;
}

.form-check-input:checked {
  border-color: #0d6efd;
  background-color: #0d6efd;
}

/* Contact form */
.contact textarea {
  min-height: 130px !important;
}

/*=======================================
=            03 - TYPOGRAPHY            =
=======================================*/
/* Links */
a {
  text-decoration: none;
  transition: all 0.3s ease-out 0s;
  color: #0d6efd;
}
a:hover {
  text-decoration: none;
  color: #024dbc;
}

/* Paragraph */
.lead {
  font-weight: 500 !important;
}
.lead.font-weight-300 {
  font-weight: 300 !important;
}

/* List */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Heading */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
}
h1.font-weight-300, h2.font-weight-300, h3.font-weight-300, h4.font-weight-300, h5.font-weight-300, h6.font-weight-300,
.h1.font-weight-300, .h2.font-weight-300, .h3.font-weight-300, .h4.font-weight-300, .h5.font-weight-300, .h6.font-weight-300 {
  font-weight: 300 !important;
}

h1, .h1 {
  font-size: 60px !important;
  letter-spacing: -2px;
  line-height: 65px !important;
}
@media (max-width: 991.98px) {
  h1, .h1 {
    font-size: 35px !important;
    line-height: 50px !important;
  }
}

h2, .h2 {
  font-size: 45px !important;
  letter-spacing: -1px;
  line-height: 55px !important;
}
@media (max-width: 991.98px) {
  h2, .h2 {
    font-size: 35px !important;
    line-height: 40px !important;
  }
}

h3, .h3 {
  font-size: 40px !important;
  letter-spacing: -1px;
  line-height: 50px !important;
}
@media (max-width: 991.98px) {
  h3, .h3 {
    font-size: 30px !important;
    line-height: 40px !important;
  }
}

h4, .h4 {
  font-size: 30px !important;
  letter-spacing: -1px;
  line-height: 40px !important;
}
h4.font-weight-400, .h4.font-weight-400 {
  font-weight: 400 !important;
}

h5, .h5 {
  font-size: 24px !important;
  letter-spacing: -0.5px;
  line-height: 35px !important;
}

h6, .h6 {
  font-size: 20px !important;
  letter-spacing: -0.5px;
  line-height: 30px !important;
}

/*====================================
=            04 - HEADERS            =
====================================*/
/* Header 1 */
.header-1 .hero {
  padding-top: 80px;
  padding-bottom: 80px;
}
.header-1 .hero h2 {
  font-weight: 600;
  letter-spacing: 0.01rem;
}
.header-1 .hero h5 {
  font-weight: 400;
  letter-spacing: 0.01rem;
}
@media (max-width: 575.98px) {
  .header-1 .hero {
    border-radius: 0 !important;
  }
}

/* Header 2 */
.header-2 {
  position: relative;
  padding-bottom: 150px;
}
.header-2 h2 {
  font-weight: 600;
  letter-spacing: 0.01rem;
}
.header-2 h4 {
  font-weight: 400;
  letter-spacing: 0.01rem;
}
.header-2 .waves-opacity-divider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.header-2 .waves-opacity-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 63px;
  transform: rotateY(180deg);
}
.header-2 .waves-opacity-divider-bottom .shape-fill {
  fill: #fff;
}

/* Header 3 */
.header-3 .hero {
  position: relative;
  padding-bottom: 150px;
}
.header-3 .hero h2 {
  font-weight: 600;
  letter-spacing: 0.01rem;
}
.header-3 .hero h4 {
  font-weight: 400;
  letter-spacing: 0.01rem;
}
.header-3 .hero .waves-shape-divider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.header-3 .hero .waves-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(176% + 1.3px);
  height: 167px;
  transform: rotateY(180deg);
}
.header-3 .hero .waves-shape-divider-bottom .shape-fill {
  fill: #fff;
}

/* Header 4 */
.header-4 {
  position: relative;
  padding-bottom: 100px;
}
.header-4 h2 {
  font-weight: 600;
  letter-spacing: 0.01rem;
}
.header-4 h4 {
  font-weight: 400;
  letter-spacing: 0.01rem;
}
.header-4 .navbar {
  background-color: transparent !important;
}
.header-4 .navbar .btn {
  width: 130px;
  border-radius: 0.8rem;
}
.header-4 .hero {
  padding-top: 130px;
  padding-bottom: 130px;
}
.header-4 .waves-shape-divider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.header-4 .waves-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 79px;
}
.header-4 .waves-shape-divider-bottom .shape-fill {
  fill: #fff;
}

/* Header 5 */
.header-5 {
  position: relative;
  padding-bottom: 100px;
}
.header-5 h2 {
  font-weight: 600;
  letter-spacing: 0.01rem;
}
.header-5 h4 {
  font-weight: 400;
  letter-spacing: 0.01rem;
}
.header-5 .navbar {
  background-color: transparent !important;
}
.header-5 .navbar .btn {
  width: 130px;
  border-radius: 0.8rem;
}
.header-5 .hero {
  padding-top: 50px;
  padding-bottom: 50px;
}
.header-5 .waves-shape-divider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.header-5 .waves-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 79px;
}
.header-5 .waves-shape-divider-bottom .shape-fill {
  fill: #f8f9fA;
}

/* Header 6 */
.header-6 .navbar .btn {
  border-radius: 1rem;
}
@media (max-width: 991.98px) {
  .header-6 .navbar .btn {
    margin-top: 20px;
  }
}
@media (max-width: 991.98px) {
  .header-6 .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.header-6 a.nav-link {
  color: #495057 !important;
  font-weight: 600;
  letter-spacing: 0.5px;
}
@media (min-width: 992px) {
  .header-6 a.nav-link {
    padding: 20px 13px !important;
    font-size: 15.5px;
  }
}
@media (max-width: 991.98px) {
  .header-6 a.nav-link {
    padding: 15px 10px;
  }
}
.header-6 a.nav-link:hover {
  color: #0d6efd !important;
}
.header-6 a.nav-link:focus {
  color: #0d6efd !important;
}
.header-6 a.nav-link.active {
  color: #0d6efd !important;
}
@media (max-width: 991.98px) {
  .header-6 .navbar-collapse {
    margin-top: 15px;
    max-height: calc(100vh - 125px);
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
  }
}
.header-6 .navbar-toggler:focus-visible {
  outline: 2px solid #ffc107;
}
.header-6 .navbar-toggler span {
  display: block;
  background-color: #4f4f4f;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}
.header-6 .navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}
.header-6 .navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}
.header-6 .navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}
.header-6 .navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg);
}
.header-6 .navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
}
.header-6 .navbar-toggler span:nth-child(2) {
  opacity: 1;
}
.header-6 .navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg);
}
.header-6 .hero {
  padding-top: 100px;
  padding-bottom: 20px;
}
@media (max-width: 991.98px) {
  .header-6 .hero {
    margin-top: 80px !important;
  }
}
@media (max-width: 767.98px) {
  .header-6 .hero {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
  }
}
.header-6 .hero h2 {
  font-weight: 600;
  letter-spacing: 0.01rem;
}
.header-6 .hero h4 {
  font-weight: 400;
  letter-spacing: 0.01rem;
}

/* Header 7 */
.header-7 .navbar .btn {
  border-radius: 1rem;
}
@media (max-width: 991.98px) {
  .header-7 .navbar .btn {
    margin-top: 20px;
  }
}
@media (max-width: 991.98px) {
  .header-7 .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.header-7 a.nav-link {
  color: #495057 !important;
  font-weight: 600;
  letter-spacing: 0.5px;
}
@media (min-width: 992px) {
  .header-7 a.nav-link {
    padding: 20px 13px !important;
    font-size: 15.5px;
  }
}
@media (max-width: 991.98px) {
  .header-7 a.nav-link {
    padding: 15px 10px;
  }
}
.header-7 a.nav-link:hover {
  color: #0d6efd !important;
}
.header-7 a.nav-link:focus {
  color: #0d6efd !important;
}
.header-7 a.nav-link.active {
  color: #0d6efd !important;
}
@media (max-width: 991.98px) {
  .header-7 .navbar-collapse {
    margin-top: 15px;
    max-height: calc(100vh - 125px);
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
  }
}
.header-7 .navbar-toggler:focus-visible {
  outline: 2px solid #ffc107;
}
.header-7 .navbar-toggler span {
  display: block;
  background-color: #4f4f4f;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}
.header-7 .navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}
.header-7 .navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}
.header-7 .navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}
.header-7 .navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg);
}
.header-7 .navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
}
.header-7 .navbar-toggler span:nth-child(2) {
  opacity: 1;
}
.header-7 .navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg);
}
.header-7 .hero {
  padding-top: 200px;
  padding-bottom: 120px;
}
@media (max-width: 991.98px) {
  .header-7 .hero {
    margin-top: 80px !important;
  }
}
@media (max-width: 767.98px) {
  .header-7 .hero {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
  }
}
.header-7 .hero h2 {
  font-weight: 600;
  letter-spacing: 0.01rem;
}
.header-7 .hero h4 {
  font-weight: 400;
  letter-spacing: 0.01rem;
}

/*====================================
=            05 - BUTTONS            =
====================================*/
button {
  transition: all 0.3s ease-out 0s;
}

button:focus, button.focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.btn {
  z-index: 999;
  font-size: 0.9rem;
  transition: all 0.3s ease-out 0s;
}
.btn.btn-lg {
  font-size: 1.1rem;
  padding: 15px 25px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.btn:hover {
  text-decoration: none !important;
}
.btn:focus, .btn.focus {
  outline: 0 !important;
  box-shadow: none !important;
}
.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

/* Custom button */
.btn-custom {
  background-image: linear-gradient(to right, #0d6efd 0%, #408cfd 51%, #0d6efd 100%);
  text-align: center;
  font-size: 15.5px;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
}
.btn-custom:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.btn-custom.btn-lg {
  font-size: 1.1rem;
  padding: 15px 25px;
}

/* Custom button outline */
.btn-outline-custom {
  background-image: transparent;
  text-align: center;
  font-size: 15.5px;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: 0.5s;
  background-size: 200% auto;
  color: #0d6efd;
  border: 1px solid #0d6efd;
}
.btn-outline-custom:hover {
  background-image: linear-gradient(to right, #0d6efd 0%, #408cfd 51%, #0d6efd 100%);
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.btn-outline-custom.btn-lg {
  font-size: 1.1rem;
  padding: 15px 25px;
}

/* Custom button outline white */
.btn-outline-white-custom {
  background-image: transparent;
  text-align: center;
  font-size: 15.5px;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  border: 1px solid #fff;
}
.btn-outline-white-custom:hover {
  background-image: linear-gradient(to right, #0d6efd 0%, #408cfd 51%, #0d6efd 100%);
  background-position: right center;
  color: #fff;
  border: 1px solid #0d6efd;
  text-decoration: none;
}
.btn-outline-white-custom.btn-lg {
  font-size: 1.1rem;
  padding: 15px 25px;
}

/* Custom button 2 */
.btn-custom-2 {
  background-image: linear-gradient(to right, #fd7e14 0%, #fd9a47 51%, #fd7e14 100%);
  text-align: center;
  font-size: 15.5px;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
}
.btn-custom-2:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.btn-custom-2.btn-lg {
  font-size: 1.1rem;
  padding: 15px 25px;
}

/* Custom button 2 outline */
.btn-outline-custom-2 {
  background-image: transparent;
  text-align: center;
  font-size: 15.5px;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fd7e14;
  border: 1px solid #fd7e14;
}
.btn-outline-custom-2:hover {
  background-image: linear-gradient(to right, #fd7e14 0%, #fd9a47 51%, #fd7e14 100%);
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.btn-outline-custom-2.btn-lg {
  font-size: 1.1rem;
  padding: 15px 25px;
}

/* Custom button 2 outline white */
.btn-outline-white-custom-2 {
  background-image: transparent;
  text-align: center;
  font-size: 15.5px;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  border: 1px solid #fff;
}
.btn-outline-white-custom-2:hover {
  background-image: linear-gradient(to right, #fd7e14 0%, #fd9a47 51%, #fd7e14 100%);
  background-position: right center;
  color: #fff;
  border: 1px solid #fd7e14;
  text-decoration: none;
}
.btn-outline-white-custom-2.btn-lg {
  font-size: 1.1rem;
  padding: 15px 25px;
}

/*======================================
=            06 - ACCORDION            =
======================================*/
@media (max-width: 767.98px) {
  .accordion-button::after {
    display: none;
  }
}

/*====================================
=            07 - FOOTERS            =
====================================*/
.footer-1 {
  background-color: #282e3d;
  padding-top: 2.2rem;
  padding-bottom: 2rem;
}
.footer-1 p {
  color: #adb5bd !important;
  line-height: 30px;
}
.footer-1 p.logo {
  margin-top: 0.1rem;
  margin-bottom: 1.35rem;
}
.footer-1 h5 {
  font-size: 1.2rem !important;
  margin-bottom: 1.2rem;
}
.footer-1 ul {
  font-size: 1rem;
  line-height: 30px;
}
.footer-1 ul a {
  color: #adb5bd !important;
}
.footer-1 ul a:hover {
  color: #0d6efd !important;
}
.footer-1 .copyright {
  font-size: 1rem;
  color: #adb5bd !important;
}
.footer-1 .copyright a {
  color: #adb5bd !important;
}
.footer-1 .copyright a:hover {
  color: #0d6efd !important;
}
.footer-1 .social ul {
  margin: 0;
  padding: 0;
}
.footer-1 .social ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 7px;
}
.footer-1 .social ul li:last-child {
  margin-right: 0;
}
.footer-1 .social ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.1);
  margin: 0px 0px 4px 0px;
  border-radius: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
}
.footer-1 .social ul li a:hover {
  border: 0;
  background-color: #0d6efd;
}
.footer-1 .social .container-icon {
  float: left;
  font-size: 18px;
  color: #dee2e6;
  text-align: center;
  width: 40px;
  line-height: 40px;
  padding-top: 0.05rem;
}
.footer-1 .social .container-icon:hover {
  color: #fff;
}